<nb-card class="NewTasksActionCard new-tasks-action-card" accent="success">
  <nb-card-body>
    <div class="space Space10 space10" >
      <div class="space Space43121 space43121" >
        <nb-icon class="Icon1 icon1" ngClass="success" icon="briefcase"></nb-icon>
      </div>
      <div class="space Space4312 space4312" >
        <h6 class="Heading3 heading3 text-alignment-left text-transform-none" ngClass="text-basic">Tasks</h6>
        <p class="Text4 text4 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color2$ | async)">3 tasks</p>
      </div>
      <p class="Text5 text5 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color3$ | async)">More</p>
    </div>
  </nb-card-body>
</nb-card>