:host {

  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  
  .image {
    margin: 0 8px 0 0;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    object-fit: cover;
  }
    
  .heading2 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 8px 0;
  }
    
  .text2 {
    font-size: 15px;
    line-height: initial;
    margin: 0 0 8px 0;
  }
    
  .space432 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    & > * {
      flex-basis: initial !important;
    }
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text3 {
    font-size: 15px;
    line-height: initial;
    margin: 0 0 auto 0;
  }
    
  .space9 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .new-message-action-card {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .space432 {
      padding: 0 0 0 8px;
    }
    
    .space9 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }width: 100%;
    height: auto;
    margin: 0;
    flex-grow: 0;
  }
    
  @media (max-width: 768px) {
    .image {
      width: 48px;
      height: 45px;
    }width: 100%;
    height: auto;
    margin: 0;
    flex-grow: 0;
  }
    
  @media (max-width: 480px) {
    .image {
      width: 48px;
      height: 45px;
    }
    
    .space432 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
    }width: 100%;
    height: auto;
    margin: 0;
    flex-grow: 0;
  }
    
  @media (max-width: 320px) {
    .image {
      margin: 0 8px 0 0;
      width: 40px;
      height: 45px;
    }
    
    .space432 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0;
    }
    
    .space9 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      justify-content: space-between;
    }width: 100%;
    height: auto;
    margin: 0;
    flex-grow: 0;
  }
  
}