<table class="table Table12 table12 border">
  <thead  class="Table12_Header table12-header">
    <th class="column1">
      <div class="space Space72 space72" >
        <p class="Checkbox checkbox" status="success" uiValueUpdate="updateUiCheckbox" [ngModel]="value">Playlists</p>
      </div>
    </th>
    <th class="column2">
      <div class="space Space82 space82" >
        <p class="Text18 text18 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color$ | async)">Songs</p>
      </div>
    </th>
    <th class="column3">
      <div class="space Space417 space417" >
        <p class="Text21 text21 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color1$ | async)">Missing Songs</p>
      </div>
    </th>
    <th class="column4">
      <div class="space Space421 space421" >
        <p class="Text24 text24 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color2$ | async)">Coverage</p>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table12_Row table12-row" *ngFor="let playlist of playlists|async">
      <td class="slot">
        <div class="space Space92 space92" >
          <nb-checkbox class="Checkbox1 checkbox1" status="success" uiValueUpdate="updateUiCheckbox1" [ngModel]="value1">{{playlist.name}}</nb-checkbox>
        </div>
      </td>
      <td class="slot">
        <div class="space Space102 space102" >
          <p class="Text19 text19 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color4$ | async)"></p>
        </div>
      </td>
      <td class="slot">
        <div class="space Space418 space418" >
          <p class="Text22 text22 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color5$ | async)">Clifton Ortiz</p>
        </div>
      </td>
      <td class="slot">
        <div class="space Space422 space422" >
          <p class="Text25 text25 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color6$ | async)">{{ text1 }}</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
