<nb-card class="MessageActionCard message-action-card" accent="primary">
  <nb-card-body>
    <div class="space Space11 space11" >
      <div class="space Space4311211 space4311211" >
        <nb-icon class="Icon11 icon11" ngClass="primary" icon="message-circle"></nb-icon>
      </div>
      <div class="space Space431121 space431121" >
        <h6 class="Heading6 heading6 text-alignment-left text-transform-none" ngClass="text-basic">Messages</h6>
        <p class="Text34 text34 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color2$ | async)">3 messages</p>
      </div>
      <p class="Text35 text35 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color3$ | async)">More</p>
    </div>
  </nb-card-body>
</nb-card>