<table class="table Table1111 table1111 border">
  <thead  class="Table1111_Header table1111-header">
    <th class="column1">
      <div class="space Space7111 space7111" >
        <nb-checkbox class="Checkbox4 checkbox4" status="success" uiValueUpdate="updateUiCheckbox4" [ngModel]="value">{{ label }}</nb-checkbox>
      </div>
    </th>
    <th class="column2">
      <div class="space Space8111 space8111" >
        <p class="Text36 text36 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color$ | async)">24 Mar 2019</p>
      </div>
    </th>
    <th class="column3">
      <div class="space Space43111 space43111" >
        <button nbButton class="Button7 button7  size-xl-small iconPlacement-xl-center" appearance="ghost" status="basic">
          <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
          <span>Delete</span>
        </button>
      </div>
    </th>
  </thead>
  <tbody>
    <tr class="Table1111_Row table1111-row">  
      <td class="slot">
        <div class="space Space9111 space9111" >
          <nb-checkbox class="Checkbox5 checkbox5" status="success" uiValueUpdate="updateUiCheckbox5" [ngModel]="value1">{{ label1 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space10111 space10111" >
          <p class="Text37 text37 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color1$ | async)">20 Mar 2019</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space43311 space43311" >
          <button nbButton class="Button8 button8  size-xl-small iconPlacement-xl-center" appearance="ghost" status="basic">
            <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
            <span>Delete</span>
          </button>
        </div>
      </td>
    </tr>
    <tr class="Table1111_Row1 table1111-row1">  
      <td class="slot">
        <div class="space Space12111 space12111" >
          <nb-checkbox class="Checkbox6 checkbox6" status="success" uiValueUpdate="updateUiCheckbox6" [ngModel]="value2">{{ label2 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space38111 space38111" >
          <p class="Text38 text38 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color2$ | async)">21 Mar 2019</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space43411 space43411" >
          <button nbButton class="Button9 button9  size-xl-small iconPlacement-xl-center" appearance="ghost" status="basic">
            <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
            <span>Delete</span>
          </button>
        </div>
      </td>
    </tr>
    <tr class="Table1111_Row2 table1111-row2">  
      <td class="slot">
        <div class="space Space41111 space41111" >
          <nb-checkbox class="Checkbox7 checkbox7" status="danger" uiValueUpdate="updateUiCheckbox7" [ngModel]="value3">{{ label3 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space41211 space41211" >
          <p class="Text39 text39 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color3$ | async)">22 Mar 2019</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space43511 space43511" >
          <button nbButton class="Button10 button10  size-xl-small iconPlacement-xl-center" appearance="ghost" status="basic">
            <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
            <span>Delete</span>
          </button>
        </div>
      </td>
    </tr>
    <tr class="Table1111_Row3 table1111-row3">  
      <td class="slot">
        <div class="space Space41311 space41311" >
          <nb-checkbox class="Checkbox8 checkbox8" status="success" uiValueUpdate="updateUiCheckbox8" [ngModel]="value4">{{ label4 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space41411 space41411" >
          <p class="Text40 text40 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color4$ | async)">23 Mar 2019</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space43611 space43611" >
          <button nbButton class="Button11 button11  size-xl-small iconPlacement-xl-center" appearance="ghost" status="basic">
            <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
            <span>Delete</span>
          </button>
        </div>
      </td>
    </tr>
    <tr class="Table1111_Row4 table1111-row4">  
      <td class="slot">
        <div class="space Space41511 space41511" >
          <nb-checkbox class="Checkbox9 checkbox9" status="success" uiValueUpdate="updateUiCheckbox9" [ngModel]="value5">{{ label5 }}</nb-checkbox>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space41611 space41611" >
          <p class="Text41 text41 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color5$ | async)">24 Mar 2019</p>
        </div>
      </td>  
      <td class="slot">
        <div class="space Space43711 space43711" >
          <button nbButton class="Button12 button12  size-xl-small iconPlacement-xl-center" appearance="ghost" status="basic">
            <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
            <span>Delete</span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>