<div class="space Space13 space13" >
  <div class="space Space271 space271" >
    <div class="space Space511221111 space511221111" >
      <h5 class="Heading251 heading251 text-alignment-left text-transform-none" ngClass="text-basic">Log in</h5>
      <label class="Text1371 text1371 text-alignment-left text-transform-none label" [ngClass]="'text-' + (color1$ | async)">Email</label>
      <input nbInput class="Input271 input271  size-xl-medium" placeholder="Your email" type="email" shape="rectangle" uiValueUpdate="updateUiInput271" status="basic" [ngModel]="value">
      <label class="Text1381 text1381 text-alignment-left text-transform-none label" [ngClass]="'text-' + (color2$ | async)">Password</label>
      <input nbInput class="Input281 input281  size-xl-medium" placeholder="Your password" type="password" shape="rectangle" uiValueUpdate="updateUiInput281" status="basic" [ngModel]="value1">
      <div class="space Space411221111 space411221111" >
        <button nbButton class="Button1111 button1111  size-xl-medium iconPlacement-xl-none clickable-element" appearance="filled" status="primary" (click)="dashboardPage($event)">
          <nb-icon class="icon btn-icon" icon="star"></nb-icon>
          <span>Log in</span>
        </button>
        <p class="Text40611 text40611 text-alignment-left text-transform-none paragraph" [ngClass]="'text-' + (color3$ | async)">Forgot password?</p>
      </div>
    </div>
  </div>
</div>