:host {

  .space31 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px 0 0;
    margin: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space41 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px 0 0;
    margin: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space51 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 8px 0 0;
    margin: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space61 {
    height: auto;
    min-height: 2rem;
    width: 25%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space610 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 24px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space2 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 0 0 24px 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space1 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space40 {
    height: auto;
    min-height: 2rem;
    width: 50%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  .space4 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }

  @media (max-width: 1024px) {
    .space31 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 8px 0 0;
      margin: 0 0 8px 0;
    }

    .space41 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 0 0 8px;
      margin: 0 0 8px 0;
    }

    .space51 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 8px 0 0;
    }

    .space61 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 0 0 8px;
    }

    .space610 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0;
    }

    .space1 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 8px 0 0;
    }
  }

  @media (max-width: 768px) {
    .space31 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 8px 0 0;
    }

    .space41 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 0 0 8px;
      margin: 0 0 8px 0;
    }

    .space51 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 8px 0 0;
    }

    .space61 {
      height: auto;
      min-height: 2rem;
      width: 50%;
      padding: 0 0 0 8px;
    }

    .space610 {
      height: 380px;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0;
    }

    .space1 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
      margin: 0 0 24px 0;
    }

    .space40 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space4 {
      & > * {
        flex-basis: initial !important;
      }
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    .space31 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space41 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space51 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0;
      margin: 0 0 8px 0;
    }

    .space61 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space610 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space1 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }

    .space40 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }

    .space4 {
      & > * {
        flex-basis: initial !important;
      }
      flex-direction: column;
    }
  }

  @media (max-width: 320px) {
    .space31 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }

    .space41 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space51 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space61 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space610 {
      height: auto;
      min-height: 2rem;
      width: 100%;
      padding: 0;
    }

    .space1 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }

    .space40 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }

    .space4 {
      & > * {
        flex-basis: initial !important;
      }
      flex-direction: column;
    }
  }

}
